* {
  box-sizing: border-box;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 20px;
}

.App > h1 {
  margin-bottom: 15px;
}

.fetch-button {
  min-width: 150px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(54, 202, 165);
  border: none;
  color: rgb(15, 66, 54);
  transition: all 0.5s;
}

.fetch-button:hover {
  background-color: rgb(40, 209, 209);
}

.container {
  padding: 0px;
  display: flex;
  margin: auto;
  width: 600px;
  height: 260px;
  margin-top: 32px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.each {
  flex: 50%;
  background-color: whitesmoke;
}

.name {
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topic {
  margin-top: 20px;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: rgb(59, 58, 61);
}

.status {
  color: rgb(54, 202, 165);
}
.green {
  color: rgb(10, 155, 10);
}
.orange {
  color: orange;
}
.yellow {
  color: rgb(204, 204, 33);
}
